.app{
    width:100%;  
    padding: 1rem;    
    justify-content: center;
    align-items: center;

}

.button{   
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0.1rem;
    border-color: white;
    background-color: black;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 2px 7px;
    cursor: pointer;
}
.button h3{
    padding: 4px;
}
.button:hover{
    background-color: purple;
}

.card__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    grid-gap: 15px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
 

}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.footer__counter{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
